[flake8]
ignore = E203,E501,E731,W503,W605
import-order-style = google
application-import-names =
    {{ cookiecutter.package_name }}
exclude =
    *vendor*
    .venv
    .env
    .git
    __init__.py
    setup.py
